<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org", lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>GuardarNuevosProductos</title>
</head>
<body>
    <div class="background">
        <div class="container">
            <header>
                <nav>
                    <a th:href="@{/home}">Inicio</a>
                    <a th:href="@{/inventario}">Ver Inventario</a>
                    <a th:href="@{/nuevo}">Registrar Producto</a>
                </nav>
            </header>
            <div class="TextContainer">
                <h1>Agregar producto</h1>

                <div th:if="${error}" style="background-color: #ff4d4d; color: white; padding: 10px; border-radius: 8px; margin-bottom: 15px; text-align: center;">
                    <span th:text="${error}"></span>
                </div>

                <form th:action="@{/guardar}" method="post">
                </form>
                <form th:action="@{/guardar}" method="post">

<!--                    <input type="number" name="idProducto" placeholder="ID">-->
                    <input type="text" name="nomProducto" placeholder="Nombre" required minlength="3" maxlength="100">
                    <input type="text" name="descripcionProducto" placeholder="Descripción" required minlength="3" maxlength="100">

                    <button type="submit">Guardar</button>

                </form>
            </div>
        </div>
    </div>
</body>
</html>