    <!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org", lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Inicio</title>
</head>
    <body>
        <div class="background">
            <div class="container">
                <header>
                    <nav>
                        <a th:href="@{/home}">Inicio</a>
                        <a th:href="@{/inventario}">Ver Inventario</a>
                        <a th:href="@{/nuevo}">Registrar Producto</a>
                    </nav>
                </header>
                <div class="TextContainer">
                    <h1>Sistema de Inventario</h1><br>
                
                    <h2>Sistema de inventario para productos, desarrollado por: <br>
                    Juan Camilo Buriticá Patiño <br>
                    Davidson Osorio Noreña <br>
                    Esteban Jimenez Guerra <br>
                    Juan Camilo Orozco Blandon
                    </h2>
                </div>
            </div>
        </div>
    </body>
</html>